<h2 class='custom-section-title'>{{ section.settings.section_title }}</h2>
<div class='ccs-image-container'>
  <div class="swiper-button-prev"></div>
  <div class='swiper-container' id='ccs-image-slider'>
      <div class='ccs-image-wrapper swiper-wrapper'>
        {% for block in section.blocks %}
            <div class='ccs-image-block swiper-slide'>
              <img class='ccs-image' src='{{ block.settings.image | img_url: '300x300' }}'>
            </div>
        {% endfor %}
      </div>
  </div>
  <div class="swiper-button-next"></div>
</div>

<a class="ccs-subscribe show-subscription-popup manual-optin-trigger" href="#" data-optin-slug="{{ settings.theme_optin }}">{{ section.settings.button_text }}</a>

<style>
  .custom-customers-slider .custom-section-title{
    color: {{ section.settings.text_color }};
    background-color: {{ section.settings.background_color }};
  }
  .custom-customers-slider{
    background-color: {{ section.settings.section_background_color }};
    text-align: center;
  }
  .ccs-image-container .swiper-button-prev{
    background: url("{{ 'arrow_left.png' | asset_url }}");
      width: 50px;
      height: 50px;
      margin-top: -20px;
      left: -70px;
      }
  .ccs-image-container .swiper-button-next{
    background: url("{{ 'arrow_right.png' | asset_url }}");
      width: 50px;
      height: 50px;
      margin-top: -20px;
      right: -60px;
  }
  a.ccs-subscribe{
    color: {{ section.settings.button_text_color }};
    background-color: {{ section.settings.button_bg_color }};
  }
</style>
{% schema %}
  {
    "name": "Customers Slider",
	"class": "custom-customers-slider",
    "settings": [
		{
			"type": "text",
			"id": "section_title",
			"label": "Title",
			"default": "OUR TRUTH CBD COMUNITY"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Title Text Color",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Title Background Color",
			"default": "#4d4d4d"
		},
		{
			"type": "color",
			"id": "section_background_color",
			"label": "Section Background Color",
			"default": "#f5f5f5"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button Text",
			"default": "JOIN THE CLUB »"
		},
		{
			"type": "color",
			"id": "button_text_color",
			"label": "Button Text Color",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "button_bg_color",
			"label": "Button Background Color",
			"default": "#f7931e"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image Block",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
	var mySwiper = new Swiper('#ccs-image-slider', {
		loop: false,
    spaceBetween: 10,
		slidesPerColumn: 2,
		slidesPerView: 6,
		navigation: {
      nextEl: '.ccs-image-container .swiper-button-next',
      prevEl: '.ccs-image-container .swiper-button-prev'
    },
		breakpoints: {
			767: {
				slidesPerColumn: 3,
				slidesPerView: 2
			}
		}
    });
{% endjavascript %}
